body{
    overflow-x: hidden;
    background-color: #024066;
}

.imageHistoria{
    padding-bottom: 50px;
    background-image: url(20210927_093908.jpg);
    background-size: cover;
    margin: 0 auto;
    background-color: rgba(80, 152, 240, 0.7);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    width: 88%;
    height: 90%;
}

.imageHistoria, p{ 
    color: white;
    font-size: 18px;
}

.giro , .cons{
    padding:20px;
    float: left;
    gap: 2rem;
    margin: 3rem 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empresa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 6vw;
    border-radius: 0 180px 0  180px  ;
    background-color:rgb(7, 34, 55) ;
}



.mision, .vision{
    border-color: white;
    border-width: 5px;
    width: 88%;
    height: 90%;
    padding-left: 10px;
    padding-right: 12px;
    text-align: center;  
    background-image: url(20210927_093908.jpg);
    background-size: cover;
}


.valor{
    border-radius: 180px 0  180px 0 ;
    background-color:rgb(7, 34, 55) ;
    padding-bottom: 20px;
    gap: 2rem;
    margin: 24rem 9vw;
}


.valores{
    font-size: 20%;
    padding:46px;
    float: left;
    gap: 2rem;
    margin: -22rem 0vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.valores h1{
    font-size: 50px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-body{
    text-align: justify;
}


.imageHistoria h1{
    text-align: left;  
    font-size: 60px;
    padding-left: 5%;
}

.imageHistoria p{
    text-align: left;
    padding-left: 5%;
    font-size: 25px;
    color: white;
}

.card .card-text{
    text-align: right;
    padding-left: 5%;
    font-size: 15px;
    color: white;
}

.card .card-title{
    text-align: left;
    padding-left: 5%;
    font-size: 35px;
    color: white;
}



h1{
    animation-duration: 2s;
    animation-name: fadeIn;
    font-size: 90px;
    text-align: center;
    font-family: 'Aadhunik', sans-serif;
    color: rgba(255, 255, 255, 0.842);
    line-height:1.5;
}

.subtitulo{
    animation-duration: 3s;
    animation-name: fadeIn;
    font-size: 30px;
    text-align: center;
    font-family: 'Aadhunik', sans-serif;
    color: rgba(255, 255, 255, 0.842);
    line-height:0;
}

nav{
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.6);
}

.inicioSesion{
    position: relative;
    display: inline-block;
    width:300px;
    height:100px;
    background-color: rgb(7, 34, 55);
    border-radius: 20px 20px 20px 20px ;
}

.navSesion{ 
    margin: auto;
    width:50%;
    padding-left:48px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.username{
    font-family: 'Aadhunik', sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}


header{
    background-color: #0f385ad2;
    border-radius: 30px /20px ;
}


.nav-link{
    font-family: 'Aadhunik', sans-serif;
    font-size: 25px;
    color: white;
}


.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.cover-small{
    height: 200px;
}

footer{
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 20px 20px ;

}

footer ul{
    margin: 10px;
    list-style: none;
    display: inline-flex;
}

 
footer ul li a{
    text-decoration: none;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Century Gothic', sans-serif;
}

.footerLeft{
    justify-self: left;
}

.footerRight{
    justify-self: right;
}

.footerCenter{
    color: white;
    font-size: 15px;
    font-style: inherit;
    justify-self: center;
}